/* GLOBAL */
html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	color: #f1cdb3;
	text-decoration: none;
	display: inline-block;
}

h1, h2,
p {
	cursor: default;
}

body {
	font-family: Georgia, sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #545454;
}

.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}

.title-35 {
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 2px;
}

.title-20--fix {
	line-height: 45px;
	letter-spacing: 1px;
}

.text-15 {
	font-size: 15px;
	letter-spacing: 2px;
}

.btn {
	font-size: 17px;
	line-height: 52px;
	color: #292929;
	letter-spacing: 2px;
	background-color: #f1cdb3;
	border-radius: 26px;
	padding: 0 46px;
	height: 52px;
	display: inline-block;
	transition: all .3s linear;
}

.btn:hover {
	background-color: #fddcc4;
}

.d-flex {
	display: flex;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

/* HEADER */
.header__wrapper {
	padding-top: 60px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.header__inner {
	flex-wrap: wrap;
}

.menu {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 29px;
}

.menu li {
	list-style: none;
	display: inline-block;
}

.menu li + li {
	margin-left: 30px;
}

.menu__link {
	position: relative;
	transition: all .1s linear;
	color: #cdcdcd;
	cursor: pointer;
	display: block;
}

.menu__link:before {
	content: "";
	width: 100%;
	height: 3px;
	background-color: #f1cdb3;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
	transition: opacity .3s linear;
}

.menu__link:hover {
	color: #f1cdb3;
}

.menu__link:hover:before,
.menu__link.active:before {
	opacity: 1;
}

.btn__menu {
	width: 35px;
	cursor: pointer;
	display: none;
	transition: all .3s linear;
}

.btn__menu:hover div {
	background-color: #f1cdb3;
}

.btn__menu div {
	height: 3px;
	background-color: #cdcdcd;
	margin-bottom: 6px;
}

/* MAIN */
.main__wrapper {
	background-image: url(../images/main-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 925px;
}

.main__title {
	font-size: 44px;
	line-height: 57px;
	color: #fff;
	max-width: 370px;
	margin-bottom: 30px;
}

.main__subtitle {
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #cdcdcd;
	max-width: 470px;
	margin-bottom: 30px;
}

/* ABOUT */
.about__inner {
	padding: 90px 0;
}

.about__content {
	padding-left: 115px;
}

.about__title {
	max-width: 350px
}

.about__descr {
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #4c4c4c;
	max-width: 415px;
}

/* OUR */
.our__wrapper {
	padding-top: 78px;
	padding-bottom: 68px;
	background-color: #f6f6f6;
}

.our__inner {
	text-align: center;
}

.our__items {
	margin: 60px 0 66px;
}

.our__items .slick-slide {
	cursor: pointer;
	transition: all .3s linear;
}

.our__items .slick-slide:hover {
	box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
}

.slick-list {
	margin: 0 25px;
	max-width: 1012px;
	width: 100%;
}

.our__item-name {
	line-height: 45px;
	letter-spacing: 2px;
	margin-bottom: 15px;
}

.our__item-link {
	border: 2px solid #f1cdb3;
	padding: 0 44px;
	background-color: transparent;
}

.our__item {
	padding-bottom: 32px;
	background-color: #fafafa;
	border-radius: 9px;
	text-align: center;
	padding: 0 -25px;
}

.slick-slide {
	margin: 0 25px;
}

.prev,
.next {
	border: 2px solid #f1cdb3;
	background-color: transparent;
	border-radius: 50%;
	width: 46px;
	height: 46px;
	position: relative;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	transition: all .3s linear;
}

.prev {
	background-image: url(../images/left-arrow.png);
}

.next {
	background-image: url(../images/right-arrow.png);
}

.prev:hover,
.next:hover {
	background-color: #f1cdb3;
}

.prev:before,
.next:before {
	content: "",
	position: absolute;
	width: 15px;
	height: 7px;
}

.our__item img {
	width: 270px;
	height: 270px;
	margin: 0 auto 20px;
}

/* HELP */
.help__inner {
	padding: 60px 0 6px;
}

.help__title {
	margin: 0 auto 70px;
	max-width: 334px;
	text-align: center;
}

.help__items {
	flex-wrap: wrap;
	align-items: flex-end;
	margin: 0 auto;
}

.help__item {
	width: 200px;
	margin-bottom: 72px;
	text-align: center;
}

/* BANK */
.bank__wrapper {
	background-color: #f6f6f6;
	padding: 66px 0 78px;
}

.bank__inner {
	justify-content: flex-start;
}

.bank__images img {
	width: 505px;
}

.bank__info {
	margin-left: 64px;
}

.bank__info-account {
	font-family: Times New Roman, sans-serif;
	line-height: 45px;
	color: #292929;
	letter-spacing: 2px;
	background-color: #f1cdb3;
	border-radius: 9px;
	padding: 0 15px 0 58px;
	height: 47px;
	display: inline-block;
	position: relative;
	margin: 12px 0 32px;
}

.bank__info-account:before {
	content: "";
	width: 30px;
	height: 24px;
	position: absolute;
	background-image: url(../images/credit-card.png);
	background-repeat: no-repeat;
	background-position: center;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.bank__info-name {
	font-size: 15px;
	letter-spacing: 2px;
}

.bank__info-text {
	font-family: Arial, sans-serif;
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
	color: #b2b2b2;
	max-width: 352px;
}

/* FOOTER */
.footer__wrapper {
	padding: 76px 0 60px;
	background-image: url(../images/footer-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.footer__question,
.footer__address {
	max-width: 318px;
}

.footer__question {
	margin-right: 162px;
}

.footer__question a {
	display: block;
	line-height: 30px;
	margin-bottom: 25px;
	padding-left: 62px;
}

.footer__question-email,
.footer__question-phone,
.footer__address-link {
	position: relative;
}

.footer__question-email:before,
.footer__question-phone:before,
.footer__address-link:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-repeat: no-repeat;
	background-position: center;
}

.footer__question-email:before {
	width: 40px;
	height: 26px;
	background-image: url(../images/email.png);
}

.footer__question-phone:before {
	background-image: url(../images/phone.png);
	width: 40px;
	height: 32px;
}

.footer__address-link:before {
	background-image: url(../images/address.png);
	width: 26px;
	height: 36px;
}

.footer__address a {
	display: block;
	line-height: 30px;
	margin-bottom: 8px;
	padding-left: 46px;
}

.footer__address-title,
.footer__question-title {
	color: #fff;
	line-height: 40px;
	margin-bottom: 35px;
}

/* MODAL */
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 1050;
	opacity: 0;
	transition: opacity 200ms ease-in;
	pointer-events: none;
	margin: 0;
	padding: 0;
}

.modal:target {
	opacity: 1; 
	pointer-events: auto; 
	overflow-y: auto; 
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

.modal-content {
	position: relative;
	background-color: #fafafa;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: .3rem;
	outline: 0;
	box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
}

.modal-content-close {
	display: flex;
	justify-content: flex-end;
}

.close {
	margin-top: 9px;
	margin-right: 9px;
	font-size: 32px;
	line-height: 46px;
	border: 2px solid #f1cdb3;
	color: #000;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	opacity: 1;
	transition: all .3s linear;
}

.close:hover {
	background-color: #f1cdb3;
}

.modal-body {
	position: relative;
	padding: 10px 40px 40px;
	overflow: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item-name {
	font-size: 35px;
	line-height: 45px;
}

.item-kind {
	font-size: 20px;
	line-height: 34px;
}

.item-text {
	font-size: 15px;
	line-height: 24px;
	color: #4c4c4c;
	margin-top: 15px;
}

.item-list-characteristic {
	font-size: 15px;
	line-height: 34px;
	list-style: none;
	padding: 0;
}

.item-list-characteristic li {
	position: relative;
	padding-left: 12px;
}

.item-list-characteristic li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #f1cdb3;
}

.item-list-characteristic li span {
	font-size: 17px;
}

/* MEDIA */
@media (max-width: 851px) {
	.btn {
		font-size: 22px;
		line-height: 57px;
		background-color: #f1cdb3;
		border-radius: 26px;
		padding: 0 51px;
		height: 57px;
	}
}

@media (max-width: 771px) {
	.title-35 {
		font-size: 27px;
		line-height: 37px;
		letter-spacing: 1px;
	}
	.btn {
		letter-spacing: 1px;
	}
	body {
		font-size: 14px;
		line-height: 18px;
	}
}

@media (max-width: 551px) {
	.title-35 {
		font-size: 25px;
		line-height: 35px;
		letter-spacing: 0px;
	}
	.btn {
		letter-spacing: 0px;
	}

	.title-20--fix {
		line-height: 45px;
		letter-spacing: 1px;
	}

	.text-15 {
		font-size: 15px;
		letter-spacing: 2px;
	}
	.btn {
		font-size: 17px;
		line-height: 52px;
		padding: 0 46px;
	}
}

@media (max-width: 375px) {
	body {
	}
	.title-35 {
		letter-spacing: 0;
	}
	.btn {
		padding: 0 30px;
		font-size: 15px;
	}
}

@media (max-width: 851px) {
	.menu {
		display: none;
		position: absolute;
		top: 87px;
		left: 0;
		right: 0;
		width: 100%;
		text-align: center;
		border-top: 1px solid #f1cdb3;
		padding: 0;
		margin: 30px 0;
		background-color: #000;
	}
	.menu li {
		display: block;
		padding: 10px 0;
		border-bottom: 1px solid #f1cdb3;
	}
	.menu li + li {
		margin-left: 0;
	}
	.btn__menu {
		display: block;
	}
	.menu__link:hover:before,
	.menu__link.active:before {
		opacity: 0;
		color: #f1cdb3;
	}
	.menu__link.active {
		color: #f1cdb3;
	}
}

@media (max-width: 851px) {
	.main__wrapper {
		background-position: left;
	}
	.main__inner {
		text-align: center;
	}
	.main__title {
		font-size: 64px;
		line-height: 77px;
		max-width: 530px;
		margin: 40px auto;
	}
	.main__subtitle {
		font-size: 24px;
		line-height: 29px;
		max-width: 530px;
		margin: 0 auto 40px;
	}
}

@media (max-width: 551px) {
	.main__title {
		font-size: 40px;
		line-height: 53px;
		margin-top: 160px;
	}
	.main__subtitle {
		font-size: 20px;
	}
	.main__wrapper {
		height: 700px;
	}
}

@media (max-width: 351px) {
	.main__title {
		font-size: 24px;
		line-height: 37px;
	}
	.main__subtitle {
		font-size: 13px;
	}
}

@media (max-width: 851px) {
	.about__content {
		padding-left: 50px;
	}
	.about__descr {
		font-size: 14px;
	}
}
@media (max-width: 771px) {
	.about__images img {
		max-width: 250px;
	}
	.about__content {
		padding-left: 30px;
	}
}
@media (max-width: 648px) {
	.about__inner {
		flex-direction: column;
	}
	.about__content {
		margin-top: 30px;
		padding-left: 0;
		text-align: center;
	}
	.about__title {
		margin: 0 auto;
	}
	.about__inner {
		padding: 60px 0;
	}
}
@media (max-width: 561px) {
	.about__images img {
		max-width: 200px;
	}
}
@media (max-width: 375px) {
	.about__images img {
		max-width: 200px;
	}
}

@media (max-width: 826px) {
	.our__items {
		flex-direction: column;
	}
	.our__item-link {
		padding: 0 25px;
	}
	.our__item {
		padding: 20px 0 30px;
	}

	.slick-slide {
	    margin: 0;
	}

	.our__btn {
		display: none;
	}
	.slick-dots {
		list-style: none;
		display: flex;
		justify-content: center;
		padding-left: 0;
	}
	.slick-dots li {
		margin: 0 8px;
	}
	.slick-dots li.slick-active button {
		background-color: transparent;
		border: 2px solid #f1cdb3;
	}
	.slick-dots button {
		font-size: 0;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		padding: 0;
		border: none;
		background-color: #f1cdb3;
		outline: none;
		cursor: pointer;
	}
}

@media (max-width: 648px) {
	.our__wrapper {
		padding-top: 60px;
		padding-bottom: 60px;
		background-color: #f6f6f6;
	}
	.our__items {
		margin: 30px 0 36px;
	}
}

@media (max-width: 450px) {
	.our__item img {
		width: 130px;
		height: 130px;
	}
	.our__item-name {
		letter-spacing: 0px;
	}
}

@media (max-width: 851px) {
	.help__item {
		width: 163px;
	}
}

@media (max-width: 648px) {
	.help__title {
		margin: 0 auto 30px;
	}
	.help__item {
		margin-bottom: 30px;
	}
	.help__item {
		width: 150px;
	}
	.help__items {
		padding-bottom: 30px;
	}
}

@media (max-width: 1016px) {
	.bank__info-account {
		font-size: 18px;
		letter-spacing: 0px;
	}
	.bank__images img {
		width: 450px;
	}
}

@media (max-width: 895px) {
	.bank__info-account {
		letter-spacing: 0px;
	}
	.bank__images img {
		width: 430px;
	}
	.bank__images {
		margin-bottom: 10px;
	}
	.bank__inner {
		flex-direction: column;
	}
	.bank__info {
		margin-left: 0px;
		text-align: center;
	}
	.bank__info-text {
		margin: 0 auto;
	}
}

@media (max-width: 648px) {
	.bank__wrapper {
		padding: 60px 0 60px;
	}
	.bank__images img {
		width: 374px;
	}
}

@media (max-width: 476px) {
	.bank__images img {
		width: 260px;
	}
}

@media (max-width: 355px) {
	.bank__info-account {
		font-size: 16px;
		padding-left: 15px;
	}
	.bank__info-account:before {
		background-image: none;
	}
}

@media (max-width: 1156px) {
	.footer__question {
		margin-right: 100px;
	}
	.footer__wrapper {
		background-position: -556px center;
	}
}

@media (max-width: 1081px) {
	.footer__question {
		margin-right: 0px;
	}
	.footer__wrapper {
		background-position: left;
	}
	.footer__inner {
		justify-content: space-around;
	}
}

@media (max-width: 558px) {
	.footer__inner {
		flex-direction: column;
	}
	.footer__question,
	.footer__address {
		max-width: 450px;
		width: 100%;
	}
}

@media (min-width: 976px) {
	.modal-dialog {
		max-width: 976px;
		margin: 30px auto;
	}
}

@media (max-width: 752px) {
	.item-text {
		font-size: 13px;
		line-height: 21px;
	}
	.item-list-characteristic {
		font-size: 13px;
		line-height: 32px;
	}
	.item-list-characteristic li span {
		font-size: 15px;
	}
}

@media (max-width: 642px) {
	.modal-body {
		flex-direction: column;
	}
}

@media (min-width: 851px) { 
	.menu {
		display: block !important;
	}
}